*.Ni_v6_2.0_LKBeland2016.eam
*log.lammps
*__pycache__/
*.pyc
*=5
*initial_config_minimization.lmp
*artn.in                          
*latest_eigenvec.xyz  
*artn.out                         
*log_cna.lammps       
*mincounter                  
*sadcounter
*initp.xyz                        
*log_minimize.lammps  
*min*.xyz
*sad*.xyz
*test*
*log_minimize.lammps
*psr_event_*.pickle
*atomic_environment.yml
*.xsf
*core
*pykmc.log
*log.calc_energy.lammps
*catalog.csv
*event_*.xyz
*trajkmc.xsf
*catalog.pickle
*.npy
*log.pARTn*
*trajkmc.xyz
*tmp
*log
*traj*.xyz
catalog*.pickle
*log.minimize_lammps
*atomic_environment.yml
*log.atomicenvironment_lammps
examples/tutorial/Ni_v6_2.0_LKBeland2016.eam
examples/tutorial/input.in
*/allcrystal.xyz
